<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrjtAula01.Properties.Settings.strConexao" connectionString="workstation id=BanjucasDsk.mssql.somee.com;packet size=4096;user id=chagas_SQLLogin_1;pwd=ptzx8pz8jh;data source=BanjucasDsk.mssql.somee.com;persist security info=False;initial catalog=BanjucasDsk" />
    </connectionStrings>
</configuration>